<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
</head>
<body>
<% include menu %>
<h1>404 Not Found</h1>
<p>sorry we can't find that!</p>
</body>
</html>