body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



#menu > *{
  padding-right: 10px;
  text-decoration: none;
}


.info{
 color:orange;
}
.error{
  color:red
}