<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= status %> <%= msg %></title>
</head>
<body>
<% include menu.ejs %>
<h1><%= status %> Error</h1>
<p><%= msg %></p>
<p>
    try refreshing the page, if this problem persists then were already weoking on it!
</p>
</body>
</html>